*
!.gitignore
!.gitmodules

!.Xdefaults
!.vimrc
!.vimperatorrc

!.config/
!.config/dunst/
!.config/dunst/dunstrc

!.dwm/
!.dwm/dwmrc
!.dwm/config.example

!.vim/
!.vim/bundle/
!.vim/bundle/neobundle.vim/
!.vim/snippets/
!.vim/snippets/*

!.vifm/
!.vifm/colors/
!.vifm/vifmrc

!.vimperator/
!.vimperator/colors/

*.swp
