*
!.gitconfig
!.gitignore
!.gitignore_global
!.gitmodules

!.bashrc
!.bash_profile
!.gtkrc-2.0
!.gtkrc-2.0.mine
!.inputrc
!.vimrc
!.vimperatorrc
!.xinitrc
!.Xdefaults

!bin/
!bin/*

!.config/
!.config/dunst/
!.config/dunst/dunstrc
!.config/powerline/
!.config/powerline/*

!.dwm/
!.dwm/dwmrc
!.dwm/config.example

!.fonts
!.fonts/*

!.mpd/
!.mpd/mpd.conf
!.mplayer/
!.mplayer/*

!.mozilla
!.mozilla/firefox
!.mozilla/firefox/profiles.ini
!.mozilla/firefox/mhz-tamb.default
!.mozilla/firefox/mhz-tamb.default/user.js
!.mozilla/firefox/mhz-tamb.default/extensions
!.mozilla/firefox/mhz-tamb.default/extensions/VimFx-custom@vimfx.org

!.ncmpcpp/
!.ncmpcpp/bindings
!.ncmpcpp/config

!.vim/
!.vim/bundle/
!.vim/bundle/neobundle.vim/
!.vim/snippets/
!.vim/snippets/*

!.vifm/
!.vifm/colors/
!.vifm/vifmrc

!.vimperator/
!.vimperator/colors/

*.swp
