[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule ".vimperator/colors"]
	path = .vimperator/colors
	url = https://github.com/vimpr/vimperator-colors.git
[submodule ".vifm/colors"]
	path = .vifm/colors
	url = https://github.com/vifm/vifm-colors.git
[submodule ".fonts"]
	path = .fonts
	url = https://github.com/powerline/fonts.git
